.modalContainer {
  @apply w-screen h-screen z-40 min-h-screen fixed top-0 left-0 lg:w-4/12 lg:m-auto lg:left-1/3;
  .overlay {
    @apply opacity-50 bg-black absolute w-full h-full;
  }
  .modalWrap {
    @apply absolute z-50 w-full overflow-auto bottom-0 bg-white p-4;
    min-height: 90dvh;
    .row {
      @apply flex justify-between items-center;
    }
    .children {
      @apply overflow-auto;
      height: 460px;
    }
    .button {
      @apply bg-primary text-white rounded-lg w-full h-10;
      bottom: 50px;
      position: absolute;
      left: 10%;
      width: 80%;
    }
  }
}
