.modalContainer {
  @apply w-screen h-screen z-40 min-h-screen fixed top-0 left-0 lg:w-4/12 lg:m-auto lg:left-1/3;
  .overlay {
    @apply opacity-50 bg-black absolute w-full h-full;
  }
  .modalwrapminimum {
    min-height: 33dvh;
  }
  .modalwrapmaximum {
    min-height: 85dvh;
  }
  .modalWrap {
    @apply absolute z-50 w-full overflow-auto bottom-0 bg-white;
    .row {
      @apply flex justify-between items-center px-4 pt-4;
    }
    .children {
      @apply overflow-auto px-4;
      height: 420px;
    }
    .childrenapprove {
      @apply overflow-auto px-4;
      height: 70dvh;
    }
    .footer {
      @apply pl-4;
      bottom: 65px;
      position: absolute;
      // left: 10%;
      width: 100%;
      background: white;
      padding-top: 5px;
      textarea {
        @apply rounded-lg border w-full mb-2 px-2 py-1 text-sm;
        width: 94%;
      }
      .button {
        @apply bg-primary text-white rounded-lg w-full h-10;
        // width: 94%;
        width: 140px;
      }
      .disabled {
        @apply bg-gray-100 cursor-not-allowed;
      }
      .rejectbutton {
        @apply bg-red-500;
      }
    }
  }
}
